@font-face {
  font-family: 'Visitor';
  src: url('../src/assets/visitor1.ttf') format('truetype');
}

#lights {
  font-family: 'Visitor', Verdana, Tahoma;
  background-color: white;
  width: 50px;
}

body {
  margin: 0;
  background-color: #000000;
}

.gap{
  margin: 0 30px;
}

#heart{
  width: 20px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

#sword {
  position: relative;
  margin: 0 5px;
  top: 5px;
}

.statusbar{
  width: 50%;
  margin: 20px auto 0 auto;
  margin-bottom: 20px;
  background-color: #1C1117;
  height: 30px;
  color: white;
  text-align: center;
  font-family: 'Visitor', Verdana, Tahoma;
  font-size: 1.1em;
  padding: 5px 0px;
  border: 2px solid rgb(102, 88, 64);
  background-color: rgb(60, 40, 53);

}

#charavatar{
  width: 25px;
  position: relative;
  top: 3px;
}

canvas {
  margin: 0 auto;
}

#craft {
  display: block;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
}


.dialogbox {
  height: 170px;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  color: white;
  display: flex;
  align-items: left;
  border: 2px solid rgb(102, 88, 64);
  background-color: rgb(60, 40, 53);
}

#avatar{
  margin: 0;
  height: 170px;
  display: inline-block;

}


#title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 1.6em;
}
#text-box {
  text-align: justify;
  padding: 10px;
  font-family: 'Visitor', Verdana, Tahoma;
  font-size: 1.2em;
  line-height: 1.2em;
}


.avatarDiv {
  background-color: #5f021F;
}